:root {
    /* psllet */
    --clr5: #fdebed;
    --clr4-5: #f3aab6;
    --clr4: #f0668c;
    --clr3: #d14c79;
    --clr2-5: #b13166;
    --clr2: #252935;
    --clr1: #191e2b;
}

@font-face {
    src: url(fonts/Impact/impact.ttf);
    font-family: impact;
}

@font-face {
    src: url(fonts/Ruluko/Ruluko-Regular.ttf);
    font-family: ruluko;
}

@font-face {
    src: url(fonts/Berlingsdemo/Berlingsdemo.ttf);
    font-family: berlingsdemo;
}

@font-face {
    src: url(fonts/NotoSans/NotoSans-Thin.ttf);
    font-family: noto;
}

@font-face {
    src: url(fonts/Raleway/Raleway-ExtraBold.ttf);
    font-family: raleway;
}


/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: noto;
    color: var(--clr5);
    font-size: 0.875rem;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--clr5);
    font-family: noto;
}

img {
    width: 100%;
    border-radius: 25px;
}


/* BUTTONS */

button,
.btn {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.25em;
    font-family: noto;
    color: #e06c9f;
    text-shadow: 0 0 0.5px #64113f;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}


/* HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.grid {
    padding-inline: 1.25em;
    padding-block: 2.14285em;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}

.main-layout {
    background-color: var(--clr2);
    flex-direction: column;
    min-height: 100vh;
}


/* 
.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


.scroll-area {
    height: 100vh;
    scroll-snap-align: start;
}

.scroll-inside {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
} */


/* COMPONENTS */


/* modal */

.modal-container {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    font-family: noto;
}

.modal-container .modal {
    width: 200px;
    background: #252935;
    padding: 26px 40px;
    border-radius: 10px;
    transform: translateY(-20px);
    transition: transform .6s;
}

body.modal-open .modal-container {
    opacity: 1;
    pointer-events: auto;
}

body.modal-open .modal-container .modal {
    transform: translateY(0);
}


/* HEADER */

.header-container {
    background-color: var(--clr1);
    color: var(--clr5);
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -1px 0 var(--clr5);
    padding-inline-start: 20px;
    position: relative;
    height: 6em;
    padding-inline-end: 0.625em;
}

.logo {
    font-family: berlingsdemo;
    font-size: 3.125rem;
    color: var(--clr3);
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
    padding-block-start: 5px;
}

.header-container .main-nav {
    flex-basis: 300px;
}

.main-nav a:hover {
    color: var(--clr4-5);
}

.main-nav a.active {
    box-shadow: inset 0px -6px 0 var(--clr4-5);
    color: var(--clr5);
}

.main-container {
    flex-direction: column;
}


/* GALLERY */

.gallery-container {
    flex-direction: column;
}


/* hero */

.hero {
    display: grid;
    grid-auto-rows: 2fr;
    grid-template-columns: 1fr;
    gap: 3.5em;
    width: 900px;
    width: 100%;
    margin: 20px auto;
    margin-block-end: 4.42857em;
    margin-block-start: 3.21428em;
    /* border-bottom: 0.5px solid var(--clr5); */
}

.hero-text {
    /* flex-basis: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-inline: 20px;
}

.hero-text>h1 {
    font-size: 2.6875em;
    font-family: raleway;
    margin-block: 0;
    /* margin-inline: 0.9375em; */
}

.hero-text>h2 {
    font-size: 0.9375em;
    text-align: center;
}

.hero-sample {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sample>img {
    width: 60%;
    height: fit-content;
}

.start-meme {
    background-color: var(--clr2-5);
    align-self: center;
    padding-block: 12px;
    padding-inline: 34px;
    border-radius: 15px;
    margin-block-start: 16px;
    font-size: 1.25em;
}


/* filter */

.filter-container {
    width: 100%;
    padding-block: 0.71428em;
    padding-inline: 10px;
    color: var(--clr5);
}

input[type=text] {
    color: var(--clr4-5);
    background-color: var(--clr2);
    border: none;
    border-bottom: 1px solid var(--clr5);
    width: 10.92857em;
    font-family: noto;
    font-size: 1em;
}

input[type=text]:focus {
    color: var(--clr5);
    background-color: none;
}

input[type="color"] {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 1.5625em;
    padding: 0;
    width: 1.5625em;
}

.filter-item {
    cursor: pointer;
}

.font-select {
    border: none;
    background-color: var(--clr2);
    font-family: noto;
    color: var(--clr5);
    font-size: 16px;
}

.font-select:focus {
    border: none;
}


/* images */

.gallery-img {
    cursor: pointer;
    border-radius: 25px;
}

.gallery-img:hover {
    box-shadow: 0 0 10px #fff;
}

.my-memes-container {
    flex-grow: 1;
}


/* EDITOR */

.main-editor-container {
    width: 350px;
    height: 42.8571em;
    /* padding: 30px; */
    align-self: center;
    /* flex-grow: 1; */
    display: grid;
    grid-auto-rows: 300px 300px;
    grid-auto-columns: 1fr;
    grid-template-areas: 'up' 'down';
    margin: auto;
}

.border-container {
    align-items: center;
    padding: 1.875em;
}

.edit-container {
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    grid-area: down;
    border: 0.5px solid var(--clr5);
}

.canvas-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: up;
}

.line {
    padding: 10px;
}

canvas {
    border-radius: 20px;
}


/* FOOTER */

footer {
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
    border-top: 1px solid var(--clr5);
    font-family: noto;
}

footer .logo {
    font-size: 2.5em;
}

.upload {
    padding-inline-start: 10px;
    padding-block: 10px;
    font-family: noto;
    font-size: 20px;
}

input[type="file"] {
    display: none;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr2);
    border: 1px dashed var(--clr4-5);
    border-radius: 25px;
    padding: 0;
    color: var(--clr4-5);
    font-size: 1.5625em;
}

.upload-header {
    flex-basis: 1.7em;
}


/* screen */

.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    /* display: none; */
    opacity: 0;
    transition: opacity .6s;
    pointer-events: none;
}

body.menu-open .main-screen {
    /* display: block; */
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}


/* FOR MOBILE ONLY  */

@media (max-width: 900px) {
    .main-nav {
        position: fixed;
        background-color: #252935a0;
        height: 100vh;
        border-inline-start: 1px solid #ccc;
        inset: auto 0 0 auto;
        min-width: 200px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -9px 0px 14px rgb(0 0 0 / 30%);
    }
    .main-nav ul {
        flex-direction: column;
    }
    .main-nav ul li {
        border-bottom: 1px solid #ccc;
    }
    .main-nav ul a {
        display: block;
        padding: 14px;
    }
    .main-nav ul a:hover {
        background-color: var(--clr3);
    }
}

@media (min-width: 900px) {
    html {
        font-size: 1rem;
    }
    .btn-menu {
        display: none;
    }
    .editor-container {
        flex-direction: row;
    }
    .header-container {
        height: auto;
        padding-inline-end: 0;
    }
    .main-layout .main-nav a {
        display: flex;
        height: 100px;
        width: 100px;
        justify-content: center;
        align-items: center;
    }
    .hero {
        display: grid;
        grid-auto-rows: 18.125em;
        grid-template-columns: 1fr 1fr;
        gap: 2.6428em;
        width: 100%;
        width: 100%;
        padding-inline: 4.5em;
        padding-block: 7.5em;
    }
    .hero-text>h2 {
        text-align: justify;
    }
    .hero-sample>img {
        width: 68%;
    }
    .filter-container {
        padding-block: 0.625em;
        padding-inline: 5.5em;
    }
    .filter-list {
        flex-basis: 445px;
    }
    .filter-list>ul {
        align-items: center;
    }
    .demo-size-dogs {
        font-size: 40px;
    }
    .demo-size-movies {
        font-size: 50px;
    }
    .demo-size-politics {
        font-size: 30px;
    }
    input[type=text] {
        width: 12.5em;
        font-size: 1.3125em;
    }
    .grid {
        padding-inline: 1.25em;
        padding-block: 0.625em;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
    .main-editor-container {
        grid-auto-rows: 1fr;
        grid-auto-columns: 400px 400px;
        grid-template-areas: 'up down';
        height: 400px;
        margin: 0;
        justify-content: center;
        gap: 3em;
        flex-grow: 1;
    }
}

.hidden {
    display: none;
}